/*make headline red*/

h1 {
color:red;
font-size: 3em;
}


/*make first item green*/

#first-milestone {
  color: green;
}


/* make all dates/years to bold and italics */

.year {
font-style:italic;
font-weight: bold;
}

/* use a child selector to make a specific item pink */

.special-list-item li > span {
  color: pink;
}
