h1 {color: red;}
#first-line {color: green;}
.date {font-style: italic; font-weight: bold;}
li > blockquote {
  text-decoration: underline;}
  body blockquote {background-color: gray;}
  body {font-family: sans-serif; line-height: normal;}
