header h1 {
  color: red
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}

#item-1 {
  color: green
}

.dates{
  font-style: italic;
  font-weight: bold;
}

li > a {
  color: deeppink
}

#block-quote span {
  color: lightgray
}
