body {
  font-family: Verdana, sans-serif;
  line-height: 1.5em;
}
/*added font & line height*/
/*to import a font from google: @import url(web address);*/

h1 {
    color: red;
}
/*tag selector to make headine red*/

#green-text {
    color: green;
}
/*id selector to make first line item green*/

.date {
    font-style: italic;
    font-weight: bold;
}
/*class selector to set all dates/years to bold and italic*/

li > object {
    color: deeppink
}
/*child selector to make a specific line of text pink*/

body blockquote {
  background-color: gray
}
/*descendant selector to make the blockquote background grey*/