* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  color: red;
}

#first-list-item {
  color: green;
}

.dates {
  font-weight: bold;
  font-style: italic;
}

li > blockquote {
  text-decoration: underline;
}

body blockquote {
  background-color: gray;
}
