h1 {
    color: red;
}

#green {
    color: green;
}

.time {
    font-style: italic;
    font-weight: bold;
}

li > a {
    color: pink;
}

ul blockquote {
    background-color: gray;
}

body {
    font-family: sans-serif;
}