h1 {
  color: red;    /* color red */
}


.date {
  font-style: italic;
  font-weight: bold;
}

#green {
  color: green;    /* color red */
}
li > span {
  color: pink;    /* child selector */
}
p blockquote {
  background-color: gray;
}
div blockquote {
  background-color: gray;
}
