h1 {
  color: red;
}

#list-item-1 {
  color: green;
}

.date {
  font-weight: bold;
  font-style: italic;
}

section > li {
  color: pink;
}

body blockquote {
  background-color: gray;
}

body {
  font: helvetica;
  line-height: 20px;
}
