body{
  font-family: sans-serif;
  line-height: 2em;
}
h1{
  color: red;
}
#history {
  color: green
}
.dates {
  font-style: italic;
  font-weight: bold;
}
li > a {
  color: pink;
  text-decoration: none;
}
}
